nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
}
nav a,
nav img {
  margin-right: 15px;
  margin-top:10px;
}
nav a {
  color: #333;
  text-decoration: none;
  font-family: sans-serif;
  font-size:13px;
}
nav a:hover {
  text-decoration: underline;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.google-logo {
  width: 270px;
  padding-top: 150px;}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #dfe1e5;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-container img {
  width: 13px;
  height: auto;
  
  
}
.search-container input {
  margin-left: 10px;
  margin-right: 10px;
  width: 450px;
  border: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  }

.button-container button {
  margin-right: 5px;
  background: #f2f2f2;
  color: #333;
  border: 0;
  border-radius: 5px;
  padding: 8px 16px;
}

.search-container:hover{
  box-shadow:0 5px 10px 0  rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.button-container button:hover{
  
 
  
  border: 1px solid  #999db1;
 
}

nav img{
  width: 20px;
}

